
body {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: gainsboro;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#instructions {
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choices {
    display: flex;
    padding: 25px;
}

.button {
    padding: 15px;
}

#rock {
    background: url(images/rock.png);
    height: 150px;
    width: 150px;
}

#paper {
    background: url(images/paper.png);
    height: 150px;
    width: 150px;
}

#scissor {
    background: url(images/scissor.png);
    height: 150px;
    width: 150px;
}

button {
    border: none;
    padding: 0;
    background: none;
    color: white;
}

.gameResults {
    display: flex;
    justify-content: center;
    align-items: center;
    border: black;
    border:5px solid;
    height: 80px;
    width: 30em;
}

.gameTextBox {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2em;
}

.scoreContainer {
    display: flex;
    flex-direction: column;
}

.scoreLabels {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.scoreNumbers {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#playerScore {
    display: flex;
    justify-content: center;
    align-items: center;
    border: black;
    border:5px solid;
    height: 100px;
    width: 100px;
    margin: 10px;
    font-size: 2.5em;
}

#computerScore {
    display: flex;
    justify-content: center;
    align-items: center;
    border: black;
    border:5px solid;
    height: 100px;
    width: 100px;
    margin: 10px;
    font-size: 2.5em;
}

.score {
    display: flex;
    justify-content: center;
}

.resetButton {
    padding: 25px;
}

#resetButton {
    background-color: tan;
    padding: 10px 24px;
    border-radius: 8px;
    color: white;
}